@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --gray-bg: #16140f;
    --yellow: #FFDE4C;
    --yellow2: #FFDD55;
    --white: #FFFFFF;
    --black: #000000;
}

/* main styles */

* {
    position: relative;
    box-sizing: border-box;
}

body {
    background: var(--yellow);
    color: var(--white);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

h1 {
    color: var(--yellow2);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 54px 0 0;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

.subheader {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 25px 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 52px 50px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    border-radius: 20px;
    background: var(--gray-bg) url("../img/background.jpg") top center no-repeat;
}

.btn__yellow {
    font-size: 20px;
    letter-spacing: 0.2px;
    color: var(--black);
    background-color: var(--yellow2);
    border: none;
    border-radius: 20px;
    padding: 23px 40px;
}

.secion__text {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

/* header */

.header {
    padding: 0 48px;
    top: -6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    display: block;
}

.header__nav {
    padding: 0 33px 6px;
}

.header__nav__btn {
    border: none;
    padding: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.header__nav__btn_line,
.header__nav__btn::before,
.header__nav__btn::after {
    display: block;
    width: 36px;
    height: 2px;
    background: var(--yellow2);
}

.header__nav__btn_line {
    margin: 8px 0;
}

.header__nav__btn::before,
.header__nav__btn::after {
    content: "";
}

/* offer */

.main__offer {
    padding: 0 64px 70px;
    display: flex;
    align-items: center;
}

.main__offer__info {
    padding: 16px;
    width: 50%;
    flex-shrink: 1;
}

.main__offer__info .subheader {
    padding-right: 20%;
}

.main__offer__info p {
    padding-right: 20%;
    margin-bottom: 0;
    line-height: 22px;
}

.main__offer__info span {
    color: var(--yellow2);
}

.main__offer__btn {
    margin-top: 50px;
}

.main__offer__circle {
    width: 50%;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    padding: 35px 0 0 45px;
}

.main__offer__circle::before {
    content: "";
    display: block;
    width: 384px;
    height: 384px;
    border: 1px solid var(--yellow2);
    border-radius: 50%;
    margin: 0 auto;
}

.main__offer__circle_item {
    position: absolute;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__offer__circle_item.item_1 {
    top: -13px;
    left: calc(50% - 59px);
}

.main__offer__circle_item.item_2 {
    top: 87px;
    right: -19px;
}

.main__offer__circle_item.item_3 {
    top: 282px;
    right: -19px;
}

.main__offer__circle_item.item_4 {
    top: calc(100% - 50px);
    left: calc(50% - 59px);
}

.main__offer__circle_item.item_5 {
    top: 282px;
    left: 34px;
}

.main__offer__circle_item.item_6 {
    top: 87px;
    left: 34px;
}

.main__offer__circle_img {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--yellow2);
    width: 99px;
    height: 99px;
    margin-bottom: 7px;
}

.main__offer__circle_text {
    text-align: center;
}

/* about */

.main__about {
    padding: 60px 0 0;
}

.main__about__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 70px;
}

.main__about__item {
    width: calc(100%/3);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 90px;
    margin-bottom: 48px;
}
.main__about__item::before {
    content: "";
    display: block;
    background: var(--black);
    border: 1px solid var(--yellow2);
    border-radius: 50%;
    width: 182px;
    height: 182px;
}

.main__about__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 95px;

}

.main__about__text {
    text-align: center;
    margin-top: 17px;
}